@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "../../Variables.scss";

.body {
  min-width: 50%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 11%;
    //height: 4rem;
    display: grid;
    grid-template-columns: 20% 40% 1fr;
    align-items: center;
    justify-items: center;
    background-color: $header;
    .linkprofile {
      height: 65px;
      margin-top: 8%;
    }
    img {
      height: 70%;
      grid-column: span 1;
      grid-row: span 1;
      align-self: center;
    }
    .userphoto {
      border-radius: 50%;
    }
    .textdev {
      width: 7rem;
      height: 40%;
    }
  }
  .write_message {
    padding-top: 1rem;
    background-color: $usernamebg;
    display: grid;
    grid-template-rows: 1fr 20px 35px;
    grid-template-columns: 80px 1fr;
    grid-gap: 10px;
    height: 39%;
    //height: 14rem;

    .user_message {
      grid-row: 1 / -1;
      margin-left: 1rem;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }
    .section_message {
      grid-column: 2 /-1;
      grid-row: 1/2;
      textarea {
        width: 90%;
        height: 100%;
        font-size: 17px;
      }
    }
    .characters_message {
      width: 90%;
      display: flex;
      justify-content: space-between;
      .num_characters {
        color: #ffffff;
      }
      .max_characters {
        color: $likes;
      }
    }
    .button_message {
      width: 90%;
      text-align: end;

      button {
        width: 100px;
        height: 80%;
        background-color: $green;
        border: none;
        font-size: 15px;
        font-family: "Press Start 2P", cursive;
      }
    }
  }
  .footer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
