.notfound {
  height: 100%;
  width: 100%;

  img {
    height: 700px;
    width: 700px;
    margin-left: 25%;
  }

  @media screen and (max-width: 900px) {
    height: 100vh;
    img {
      height: 200px;
      width: 200px;
    }
  }
}
