$purpleBackground: #2e132c;
$header: #250c23;
$usernamebg: #150714;
$activebutton: #60265b;
$likes: #f50d5a;
$white: #ffffff;
$green: #00da76;
$black: #494646;
$confirmation: #dc3545;
$whitconfirmation: #f4e8eb;
$greeconfirmation: #28a745;
